.pieces-list{
    list-style: none;
    padding: 0;
    display: block;
}
.pieces-list li{
    display: inline;
    min-height: 40px;
    min-width: 20px;
    margin: 20px;
    padding: 20px;
    background-color: gray;
    color: aliceblue;
}

.chessboard{
    margin: 60px;
}  
.chessboard .row{
    display: flex;
}   
.cell{
    display: inline;
    min-height: 25px;
    min-width: 25px;
    padding: 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
