

   .chessboard{
       .board-row {
        display: flex;
        .cell {
            display: inline;
            min-height: 25px;
            min-width: 25px;
            padding: 20px;
            border: 1px solid #000;
            cursor: pointer;
        }
        .black {
            background-color: #000;
            color: #fff;
        }
        .black:hover {
            color: #fff;
            background-color: #4caf50;
            border: 1px solid grey;
        }
        .white {
            color: #000;
            background-color: #fff;
        }
        .white:hover {
            color: #fff;
            background-color: #4caf50;
            border: 1px solid grey;
        }
    }
   }
