@import "./../../assets/variable";

.chessboard {
    .board-row {
        display: flex;
        .cell {
            display: inline;
            min-height: 25px;
            min-width: 25px;
            padding: 20px;
            border: 1px solid $black;
            cursor: pointer;
            &__selected {
                font-weight: bolder;
                color: $white !important;
                background-color: $cell-highlight-background-color !important;
                border: 1px solid grey;
            }
        }
        .highlight {
            font-weight: bolder;
        }
        .black {
            background-color: $black;
            color: $white;
            &.highlight {
                background-color: rgba($cell-highlight-background-color, 0.666) !important;
            }
            &.highlight:hover {
                background-color: $black;
            }
            &:hover {
                color: $white;
                background-color: $primary-color !important;
                border: 1px solid grey;
            }
        }
        .white {
            color: $black;
            background-color: $white;
            &.highlight {
                background-color: rgba($cell-highlight-background-color, 0.344);
            }
            &.highlight:hover {
                background-color: $white;
                color: $black;
            }
            &:hover {
                color: $white;
                background-color: $primary-color !important;
                border: 1px solid grey;
            }
        }
    }
}
